{% extends 'core/dashboard-base.html' %}

{% block content %}
<h2>User Detail</h2>
<p>{{ object.first_name }}</p>
<p>{{ object.last_name }}</p>
<p><a href= {% url "core:logout" %}> Logout </a> </p>
{% endblock %}