{% extends 'core/dashboard-base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <h2 class="mt-3 text-center">Sign up form</h2>
          <hr class="mt-2 mb-4">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </div>
            </form>
        </div>
      </div>
  </div>
{% endblock %}