{% extends 'core/dashboard-base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h2 class="mt-5 text-center">Register Premises</h2>
          <hr class="mt-4 mb-4">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.company|as_crispy_field}}
                {{ form.name|as_crispy_field}}
                {{ form.site_name|as_crispy_field}}
                {{ form.premises_type|as_crispy_field }}
                <div id="div_id_opening_hours" class="form-group">
                <label for="" class=" requiredField">
                Opening Hours<span class="asteriskField">*</span>
                </label>
                    <div class="form-row">
                        <div class="form-group form-inline">
                        <label class="mx-2">Opening Time</label>
                        <input type="time" class="form-control timelist" name="opening_time" id="opening_time">
                        </div>
                        <div class="form-group form-inline" >
                        <label class="ml-5 mr-2 form-label">Closing Time</label>
                        <input type="time" class="form-control timelist" name="closing_time" id="closing_time">
                        </div>
                    </div>
                </div>
                <div id="div_id_working_days" class="form-group">
                <label for="" class=" requiredField">
                Working days<span class="asteriskField">*</span>
                </label>
                    <div class="">
                    {% for value, text in form.working_days.field.choices %}

                        <div class="form-check form-check-inline">
                        <input type="checkbox" class="form-check-input" name="working_days" id="id_working_days_'{{ value }}'" value={{ value }}>
                        <label class="form-check-label" for="id_working_days_'{{ value }}'">{{ text }}</label>
                        </div>

                    {% endfor %}
                    </div>
                </div>
                <div id="div_id_site_name" class="form-group">
                    <label for="id_worker_name" class=" requiredField">
                        Worker Name<span class="asteriskField">*</span>
                    </label>
                    <div class="form-group">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" id="first1" placeholder="First name" name="first_name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="last1" placeholder="Last name" name="last_name">
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-success" type="button"  onclick="education_fields();">+</button>
                    </div>
                </div>
                </div >
                <div id="education_fields"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
      </div>
  </div>

    <script type="text/javascript">
    var room = 1;
    function education_fields() {
    room++;
    var objTo = document.getElementById('education_fields')
    var divtest = document.createElement("div");
	divtest.setAttribute("class", "form-group removeclass"+room);
	var rdiv = 'removeclass'+room;
    divtest.innerHTML = '<div class="form-row"><div class="col"><input type="text" class="form-control" id="first'+ room +'" placeholder="First name" name="first_name"></div><div class="col"><input type="text" class="form-control" id="last'+ room +'" placeholder="Last name" name="last_name"></div><div class="input-group-btn"><button class="btn btn-danger" type="button" onclick="remove_education_fields('+ room +');">-</button></div><div class="clear"></div>';
    objTo.appendChild(divtest)
   }
   function remove_education_fields(rid) {
	   $('.removeclass'+rid).remove();
   }
</script>

{% endblock %}